/*

*/


.groups-cost {
    margin-top: 10vw;
    padding: 0 5vw;
}

.cost-section * {
    color: var(--cold);
}

.cost-section {
    margin-top: 10vw;
    margin-left: 0;
    display: grid;
    justify-content: space-between;
}

.cost-section li {
    margin-top: 5vw;
}

.cost-section ul {
    margin-top: 5vw;
}

.services {
    line-height: 1.4rem;
}

.cost-section-item {
    text-transform: uppercase;
}

.cost-section-item:after {
    content: none;
}

.after {
    transform: rotate(45deg);
    width: 1rem;
    height: 1rem;
    grid-column: 3;
    /*background: url("../img/cross1.svg") no-repeat;*/
    background: url("../img/cross.svg") no-repeat;
    background-size: contain;
}

.after-click {
    transform: rotate(0);
}

.service-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-block h6 {
    width: 40%;
    font-size: 0.65rem;
    line-height: 1rem;
    flex-grow: 0;
}

.dash {
    width: 10%;
    border-bottom: 1px dashed var(--cold);
    flex-grow: 3;
    padding: 2vw ;
    margin: 0 5vw;
}

.cost {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: right;
    flex-grow: 0;
}


.item-list {
    grid-column: 1/3;

}

























