/*

*/


@media (min-width: 50rem) {


    .wrap-video {
        height: 48vw;
    }

    .wrap-video:before {
        height: 48vw;
    }

    .figcaption-fraze {
        display: none;
    }


    .language {
        display: none;
    }

    .social-links {
        display: none;
    }

    .block-cost {
        width: 100%;
        display: grid;
        position: absolute;
        top: 14vw;
        left: -4vw;

    }

    .block-item-cost {
        margin: 0;
        padding: 0;
        font-size: 3rem;
        line-height: 3rem;
        color: var(--white);
    }

    .block-item-paragraph {
        text-align: left;
        padding: 0 6vw;
        grid-column: 3/5;
        font-size: 1.5rem;
        line-height: 1.7rem;
        color: var(--white);
        font-family: 'Gilroy-Regular', sans-serif;
    }


    .groups-cost {
        margin: 0;
        display: block;
        overflow: hidden;
        padding: 8vw 15vw;
    }

    .cost-section {
        margin-top: 3vw;
    }

    .cost-section-item {
        margin-bottom: 2vw;
        font-size: 2rem;
        line-height: 2.4rem;
    }

    .after {
        width: 1.5rem;
        height: 1.5rem;
    }

    .br-item {
        display: none;
    }

    .service-block h6 {

        font-size: 1.5rem;
        line-height: 2rem;
    }

    .cost {
        font-size: 2rem;
        line-height: 2.3rem;
    }

    .cost-section ul {
        margin: 0;
    }

    .cost-section li {
        margin-top: 1vw;
    }

    .item-list {
        grid-column: 1/4;
    }

    .service-block h6 {
        width: auto;
    }

    .dash {
        padding: 0;
        margin: 0 1vw;
    }


}


















