/*


*/

* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

:root {
    --white: #ffffff;
    --cold: #8C694A;
    --neo: #6C7F8E;
    --prim: #EFF5F3;
    --prim2: #03594E;
    --prim3: rgba(2, 76, 73, 0.85) ;
}

header {
    position: absolute;
    width: 100%;
}

.logo {
    z-index: 2;
}

.logo a:before {
    content: url("../img/logo.png");
}

.logo a {
    width: 20vw;
    color: var(--cold);
}

nav {
    padding: 7vw 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoLink {
    width: 3em;
    height: 3em;
    border: 1px solid var(--white);
    border-radius: 20px 0;
    z-index: 2;
    display: flex;
    top: 5vw;
    left: 3vw;
}

.logoLink:before {
    content: ' ';
    position: relative;
    top: 18px;
    left: 14px;
    width: 20px;
    height: 1px;
    background-color: var(--white);
}

.logoLink li {
    display: none;
}

.dash:before {
    content: ' ';
    position: relative;
    top: -1vw;
    left: -2vw;
    width: 30%;
    height: 2px;
    background-color: var(--white);
}

.logoLink:after {
    content: ' ';
    position: relative;
    top: 30px;
    width: 10px;
    height: 1px;
    background-color: var(--white);
}

.logoLink2 {
    display: none;
}

.wrap {
    height: 35em;
}

.wrap:before {
    background: rgb(57 53 53 / 71%); /*задаем цвет и прозрачность затемнения*/
    content: " ";
    position: absolute;
    width: 100%;
    height: 35em;
}

figure img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.poss {
    position: relative;
    top: -17vh;
}

.poss figure img {
    width: 100%;
}

.poss li figure {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.poss li figcaption a {
    display: block;
    max-width: 100%;
    color: var(--white);
    text-transform: uppercase;
    border-left: 2px solid var(--white);
    padding: 4vw;
}

.poss li figcaption {
    margin-bottom: 6vh;
}

.tel li a {
    color: var(--cold);
}

section {
    color: var(--cold);
}

section h1 {
    font-weight: 400;
    margin-bottom: 5vw;
}

.sectionMain {
    padding-left: 5vw;
}

.sectionMain a {
    color: var(--neo);
}

.tel {
    margin: 8vw;
}

.tel li {
    margin: 2vw;
    font-size: 1.3em;
}


.writeUs {
    margin-bottom: 7vw;
}

.weWork {
    margin-bottom: 7vw;
}

.weWork p {
    color: var(--prim2);
    margin-top: 1vw;
}

.network {
    margin-top: 4vw;
    display: flex;
    align-items: center;
}


.network li {
    display: inline-block;
    margin: 2vw;
}

.instagram .colour {
    stroke: var(--neo);
}

footer {
    background-color: var(--prim);
    margin-top: 25vw;
    padding: 9vw 0 0 8vw;
    overflow: auto;
}

.contact {
    margin-top: 9vw;
}

.contact li {
    margin-top: 6vw;
}

.contact li a, .contact li a:visited, .contact li a:active {
    color: var(--prim2);
}

.telFoot {
    margin-top: 9vw;
}

.telFoot li a {
    color: var(--prim2);
}

.telFoot li {
    margin-top: 3vw;
}

.contact2 p, a {
    color: var(--prim2);
    margin-top: 2vw;
}

.emblem {
    color: var(--neo);
    margin: 9vw 0 10vw 0;
}

.emblem h5 {
    margin: 2vw;
}

.possItem {
    display: none;
}










