/*


*/


* {
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

:root {
    --white: #ffffff;
    --cold: #8C694A;
    --neo: #6C7F8E;
    --prim: #EFF5F3;
    --prim2: #03594E;
    --prim3: rgba(2, 76, 73, 0.85);
}

header {
    position: fixed;
    width: 100%;
    z-index: 99999999999999;
    display: flex;
    justify-content: space-between;
    padding: 7vw 5vw;
}

/*+++++++++++++++ burger +++++++++++++++++++++++*/

.hamburger-menu{
    border: 1px solid var(--white);
    border-radius: 20px 0;
    width: 3em;
    height: 3em;
    position: relative;

}



/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
    display: none;

}

/* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    position: absolute;
    top: 10px;
    left: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}




.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
    right: 0;
    width: 60%;
}


/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 10%;
    left: -100%;
    width: 90%;
    height: 60%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

/* элементы меню */
.menu__item {


}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    width: 100%;
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}


/* =====================+++++++++++++++*/

.logo {
    display: flex;
    align-items: center;
    color: var(--cold);
}

.logo a:before {
    content: url("../img/logo.png");
}

.logo a {
    /*width: 20vw;*/
    margin: 0;
    color: var(--cold);
}



/*nav {*/
/*    padding: 7vw 5vw;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.logoLink {*/
/*    width: 3em;*/
/*    height: 3em;*/
/*    border: 1px solid var(--white);*/
/*    border-radius: 20px 0;*/
/*    z-index: 2;*/
/*    display: flex;*/
/*    top: 5vw;*/
/*    left: 3vw;*/
/*}*/

/*.logoLink:before {*/
/*    content: ' ';*/
/*    position: relative;*/
/*    top: 18px;*/
/*    left: 14px;*/
/*    width: 20px;*/
/*    height: 1px;*/
/*    background-color: var(--white);*/
/*}*/

/*.logoLink li {*/
/*    display: none;*/
/*}*/

/*.logoLink:after {*/
/*    content: ' ';*/
/*    position: relative;*/
/*    top: 30px;*/
/*    width: 10px;*/
/*    height: 1px;*/
/*    background-color: var(--white);*/
/*}*/

/*.logoLink2 {*/
/*    display: none;*/
/*}*/







.wrap-video {
    width: 100%;
    height: 180vw;
}


.wrap-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap-video:before {
    background: rgb(57 53 53 / 71%); /*задаем цвет и прозрачность затемнения*/
    content: " ";
    position: absolute;
    width: 100%;
    height: inherit;
}

/*figure img {*/
/*    max-width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/


.poss {
    position: relative;
    top: -40vw;
}

.poss figure img {
    width: 100%;
}

.poss li figure {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.poss li figcaption a {
    display: block;
    max-width: 100%;
    color: var(--white);
    text-transform: uppercase;
    border-left: 2px solid var(--white);
    padding: 4vw;
}

.poss li figcaption {
    margin-bottom: 6vh;
}

section h1 {
    font-weight: 400;
    margin-bottom: 5vw;
}

.sectionMain {
    padding-left: 5vw;
}

.sectionMain a {
    color: var(--neo);
}

.contact-tel {
    margin: 8vw;
}

.contact-tel li {
    margin: 2vw;
}

.contact-tel li a {
    color: var(--cold);
}

.write-us {
    margin-bottom: 7vw;
}

.we-work {
    margin-bottom: 7vw;
}

.we-work p {
    color: var(--prim2);
    margin-top: 1vw;
}

.network {
    margin-top: 4vw;
    display: flex;
    align-items: center;
}


.network li {
    display: inline-block;
    margin: 2vw;
}

.instagram .colour {
    stroke: var(--neo);
}

footer {
    background-color: var(--prim);
    margin-top: 25vw;
    padding: 9vw 0 0 8vw;
    overflow: auto;
}

.contact {
    margin-top: 9vw;
}

.contact li {
    margin-top: 6vw;
}

.contact li a, .contact li a:visited, .contact li a:active {
    color: var(--prim2);
}

.telFoot {
    margin-top: 9vw;
}

.telFoot li a {
    color: var(--prim2);
}

.telFoot li {
    margin-top: 3vw;
}

.contact2 p, a {
    color: var(--prim2);
    margin-top: 2vw;
}

.emblem {
    color: var(--neo);
    margin: 9vw 0 10vw 0;
}

.emblem h5 {
    margin: 2vw;
}

.possItem {
    display: none;
}










