/*



*/

a {
    text-decoration: none;
}

header {
    background: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.sectionMain {
    padding-top: 45vw;

}

.hamburger-menu {
    border: 1px solid var(--prim3);
}


.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    background-color: var(--prim3);
}

.logo-link {
    /*overflow: auto;*/

}

.embed-container {
    margin-top: 1vw;
    position: relative;
    padding-bottom: 56.25%;
    /*height: 0;*/
    overflow: hidden;
    max-width: 100%;
    height: 105vh;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

form {
    margin-top: 12vw;
    padding: 5vw;
}

.record-h1 {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--cold);
}

.send-a-request {
    margin-top: 5vw;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--Neutral);

}

.form-group {
    margin-top: 14vw;
}

.form-control {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--Neutral);
    outline: none;
}


.form-check {
    margin-top: 1rem;
}

.form-check-label {
    font-size: .9rem;
    line-height: 1rem;
    color: var(--Neutral);
}

.btn-primary {
    padding: 5vw;
    color: var(--Neutral);
    background-color: var(--white);
    border-color: .1rem solid var(--prim2);
    border-radius: 25px 0;
    width: 100%;
    margin-top: 5vw;
}



/* прячем input checkbox */
.form-check-input[type="checkbox"] {
    display: none;
}

/* стили для метки */
.form-check-label {

    cursor: default;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
}

/* формируем внешний вид чекбокса в псевдоэлементе before */
.form-check-label:before {
    content: " ";
    /*color: #000;*/
    display: inline-block;
    margin-right: 1rem;
    position: relative;
    text-align: center;
    /*text-indent: 0;*/
    width: 8vw;
    height: 8vw;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-image: initial;
    vertical-align: middle;
}

/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
.form-check-input:checked + .form-check-label:before {
    content: url("../img/galka.svg");
}

/* disabled */
.form-check-input:disabled + .form-check-label:before {
    background: #eee;
    color: #aaa;
}



























































































































