/*

*/

.wrap {
    position: relative;
    height: 175vw;
}

.wrap:before {
    background: rgb(57 53 53 / 71%); /*задаем цвет и прозрачность затемнения*/
    content: " ";
    position: absolute;
    width: 100%;
    height: 175vw;
}

.wrap-logo {
    height: 75%;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.wrap-text {
    color: var(--white);
    width: 90%;
    padding-left: 5vw;
    grid-column: 1/4;
    grid-row: 1/3;
    font-size: 1.2rem;
    line-height: 1.4rem;

}

.wrap-img {
    text-align: center;
    grid-column: 2/4;
    grid-row: 2/4;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.prev {
    width: 50%;
    height: 100%;
    left: 0;
}

.slang {
    color: var(--cold);

    margin: 25vw 0 10vw 0;
    padding: 0 5vw;
    font-size: 2rem;
    line-height: 2.5rem;
}

.wrap-smile {
    margin-top: 10vw;
}

.wrap-smile figcaption p {
    color: var(--cold);
    font-size: 32px;
    line-height: 38px;
    padding: 5vw;
}

.wrap-smile img {
    margin-top: 10vw;
}

.about-group {
    position: relative;
    margin-top: 20vw;
}

.about-group-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.about-group-figcaption > p {
    padding: 10vw 5vw;
}

.about-group-figcaption:before {
    background: var(--prim3);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


.about-group-item {
    font-size: 1.16rem;
    line-height: 1.7rem;
    color: var(--white);
}
















