/*



*/


@media (min-width: 50rem) {


    .img-item {
        height: 48vw;
    }

    .wrap-video {
        height: auto;
    }

    .wrap-video:before {
        height: 48vw;
    }

    .rew-h5 {
        position: absolute;
        top: 20vw;
        left: 10vw;
    }

    .rew-h5 h5 {
        font-size: 3rem;
    }

    .language {
        display: none;
    }

    .social-links {
        display: none;
    }

    .coll-ser {
        margin-top: 15vw;
        padding: 6vw 4vw 6vw 10vw;
        flex-direction: column;
        flex-wrap: wrap;
        height: 36vw;
    }

    .services_item {
        margin-top: 2vw;
        display: inline-flex;
    }

    footer {
        margin-top: 10.5vw;
    }

}


















