/*

*/


@media (min-width: 50rem) {


    .logo-link a {
        color: var(--white);
    }

    .wrap-video {
        height: 48vw;
    }

    .wrap-video:before {
        height: 48vw;
    }

    .wrap-text-spec {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-around;
        top: 18vw;
    }

    .wrap-text-spec h3 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin: 0;
    }

    .wrap-text-spec p {
        width: 30%;
    }

    .section-people {
        margin-top: 14vw;
    }

    .language {
        display: none;
    }

    .social-links {
        display: none;
    }

    .admins {
        padding: 1vw 5vw;
    }

    .admins h4 {
        font-size: 3rem;
        line-height: 3.3rem;
    }


    .carousel-block1 {
        display: none;
    }

    .carousel-block2 {
        display: flex;
        flex-wrap: wrap;
    }

    .block-person {
        width: 33.3%;
        margin: 0;
        padding: 2vw;
    }


    .photo-person {
        margin-bottom: 2vw;
    }


}















