/*



*/


a {
    color: var(--prim2);
}


a:link {
    color: var(--prim2);
}

a:visited {
    color: var(--prim2);
}

a:focus {
    color: var(--prim2);
}

/*a:hover {*/
/*    color: var(--prim2) !important;*/
/*}*/

a:active {
    color: var(--prim2);
}


.section-people {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20vw;
    /*height: 500vw;*/

}


.carousel-item {
    height: 120vw;
    padding: 3vw;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--prim2);
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
}

.carousel-control-prev, .carousel-control-next {
    width: 50%;
}
.img-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap-text-spec {
    position: absolute;
    top: 50vw;
    margin: 4vw;
    color: var(--white);
}

.wrap-text-spec h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 5vw;
}

.wrap-text-spec p {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.admins {
    /*margin: 5vw;*/
    padding: 5vw;
}

.admins h4 {
    font-size: 2rem;
    line-height: 2.2rem;
    color: var(--cold);
    margin: 0;

}

.carousel-inner {
    display: flex;

}

.swiper {
    /*height: 300px;*/
}


.block-person {

    margin-top: 13vw;
}

.photo-person {
    width: 100%;
    /*height: 100%;*/
    /*object-fit: cover;*/
    border-radius: 2vw;
    margin-bottom: 5vw;

}


.name-person {
    font-size: 1.5rem;
    color: var(--prim2);

}

.about-person {
    color: var(--neo);
    /*margin-bottom: 15vw;*/

}


footer {
    margin-top: 0;
}













