/*


*/


@media (min-width: 50rem) {


    header {
        padding: 0 5vw;
        box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
        height: 7vw;
        align-items: center;

    }

    nav {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
    }

    h6 {
        margin-top: 0;
    }

    .logo-item {
        text-transform: uppercase;
        line-height: 1rem;
    }

    .hamburger-menu {
        border: none;
        display: block;
        width: 100%;
    }

    .menu__box a {
        color: var(--prim2);
    }

    .svg {
        display: block;
    }

    .menu__box {
        position: static;
        min-width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        border: none;
        background: none;
        box-shadow: none;
    }

    .services:after {
        content: none;
    }

    .menu__item {
        margin: 0;
    }

    .menu__item ul {
        position: absolute;
    }

    .menu__item li {
        margin-top: 2vw;
        margin-left: 0;
    }

    .logo-link {
        width: 65%;
        margin: 0 0 0 6vw;
        padding: 0;
        justify-content: space-between;
    }

    .logo-link2 {
        margin: 0;
        padding: 0;
    }

    /*  ===========   */
    .main {
        margin-top: 17vw;
    }

    .prof {
        margin: 0;
        font-size: 3rem;
        line-height: 3rem;
    }

    .prof-fraze {
        width: 90%;
        margin: 0;
        font-size: 1.3rem;
        line-height: 1.7rem;
    }

    .hau-img {
        width: auto;
        margin: 0;
    }

    .img-item {
        margin: 0 7vw;
        width: 16%;
    }

    .article-ul {
        margin-top: 7.5vw;
        display: flex;
        justify-content: space-between;
    }

    .figure {
        padding: 6vw 0;
        display: flex;
        justify-content: space-between;
    }

    .figure-tooth {
        display: inline-block;
        margin: 4vw;
    }

    .figure-fraze {
        width: 70%;
        margin: 7vw 0 0 0;
    }

    .language {
        display: none;
    }

    .social-links {
        display: none;
    }

    .section-footer {
        margin-top: 7.5vw;
    }

    footer {
        margin-top: 14vw;
    }


}






































